@import '../mixins/mixins';
@import '../mixins/breakpoints';
.toolbar-fixed {
  .top-nav {
    top: 80px;
  }
}
.top-nav {
  top: 0;
  text-align: center;
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: rgba(20%,20%,20%,0.5);
  -webkit-box-shadow: inset 0px 0px 65px 27px rgba(46,204,113,0.77);
  -moz-box-shadow: inset 0px 0px 65px 27px rgba(46,204,113,0.77);
  box-shadow: 0px 0px 25px 10px rgba(46,204,113,0.77);
  div, nav {
    display: inline-block;
    vertical-align: middle;
  }
  #block-the-branding {
    a {
      font-family: 'Palanquin Dark', sans-serif;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  #block-the-search {
    position: relative;
    margin-left: 10px;
    .js-form-type-search {
      position: absolute;
      top: 18px;
      right: 0;
    }
    input.form-search {
      border: 2px solid $green;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 20px;
    }
    .form-actions {
      input {
        width: 16px;
        opacity: 0;
      }
      &:before {
        font-family: FontAwesome;
        content: '\f002';
        display: inline-block;
        color: #fff;
        position: absolute;
      }
    }
  }
  #block-bin {
    color: #fff;
    margin-left: 10px;
    &:before {
      font-family: FontAwesome;
      display: inline-block;
      content: '\f07a';
      font-size: 16px;
    }
    .counter {
      font-size: 12px;
      font-weight: 700;
      background-color: $green;
      padding: 5px;
      border-radius: 10px;
      width: 10px;
      height: 10px;
    }
  }
}
